################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/obj/**/*
/**/bin/**/*
/obj
/.vs/MetalStorming20/FileContentIndex
/.vs/MetalStorming20/CopilotIndices/17.14.1290.42047
/.vs/MetalStorming20/DesignTimeBuild
/.vs
